body, html {
    width:100%;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.metro .image-container {
    width: auto;
    text-align: center
}

.metro .image-container img {
    width: auto;
    height: 100vh;
}

.metro .image-container .overlay {
    font-size: 24px;
}

#meteo-tile {
    padding-top: 2px;
    text-align:center;
    position: absolute;
    top: 2%;
    left: 2%;
}

#gallery {
    padding-top: 2px;
    text-align:center;
    position: absolute;
    top: 75px;
    left: 2%;
    font-size: 40px;
}

#meteo-list {
    margin: auto;
    width: 75%;
    overflow-y: scroll;
}

#meteo-list .list-title {
    color:white;
}
